<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="appDatabase" connectionString="Data Source =.;Initial Catalog=RefactoringTest;Persist Security Info=True;User ID=sa;Password=isdseu123#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>